<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.mediaradar.com/AdDataService/AdService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdDataService"
                contract="AdServiceReference.IAdDataService" name="BasicHttpBinding_IAdDataService" />
        </client>
    </system.serviceModel>
</configuration>