<script type="text/javascript">
    $(document).ready(function() {
        $('#tbAds').dataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": '@Url.Action("DisplayAds", "Home")'
        });
    });
</script>

    <table id="tbAds" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>AdId</th>
                <th>BrandId</th>
                <th>Name</th>
                <th>NumPages</th>
                <th>Position</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>AdId</th>
                <th>BrandId</th>
                <th>Name</th>
                <th>NumPages</th>
                <th>Position</th>
            </tr>
        </tfoot>
    </table>
